@font-face {
    font-family: 'Instrument-Serif';
    src: url(Font/InstrumentSerif-Regular.ttf);
    font-weight: lighter;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.header-hero{
    background-image: url(Image/background-1.4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-arabescos {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Instrument-Serif';
    color: white;
    font-size: 48px;
    text-transform: uppercase;
}